# Files to ignore
*.d
*.so
*.pcm
*.pdf
*.png
*.root
*s.txt
*V.txt
*k.txt
*n.txt
*2023.txt
*check.txt
*.log
calc_check
#/RUN0/STEP3/indiv_fits/min_30MeV_Fit_width/calc_check
#/RUN0/STEP3/indiv_fits/min_35MeV_Fit_width/calc_check
#/RUN0/STEP3/indiv_fits/min_40MeV_Fit_width/calc_check
#/RUN0/STEP3/indiv_fits/min_50MeV_Fit_width/calc_check
#/RUN0/STEP3/indiv_fits/min_55MeV_Fit_width/calc_check
#/RUN0/STEP3/indiv_fits/min_60MeV_Fit_width/calc_check
#/RUN0/STEP3/indiv_fits/min_65MeV_Fit_width/calc_check
